{% extends "base.html" %}
{% block content %}
<div class="row">
  <h4 class="center">Welcome to Minutes Save NLP Crowdsourcing Platform</h4>
  {{new_table}}
</div>

<tr>
  <td><a class="waves-effect waves-light btn">button</a></td>
  <td><a class="waves-effect waves-light btn">button</a></td>
  <td><a class="waves-effect waves-light btn">button</a></td>
</tr>
<tr>
  <td><a class="waves-effect waves-light btn">button</a></td>
  <td><a class="waves-effect waves-light btn">button</a></td>
  <td><a class="waves-effect waves-light btn">button</a></td>
</tr>

{% endblock content %}
